

div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.container__item {
    background-color: $colorGrey;
    min-height: 100px;
    min-width: 100px;
    border-radius: 10px;
    flex: 1;
    margin: 10px;
    padding: 10px;
}